.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  margin-left: 50px;
  margin-right: 50px;
}

.cartItem {
  width: auto - 50px;
  height: 200px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 17px;
}